#mainHeader{
    width: 100%;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#appTitle{
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}