
#loginForm{
    background-color: #A8AEB3;
    width: 400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
#loginFormInput{
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: #BFBFBF;
    gap: 10px;
    
}
.loginLabel{
    
    font-weight:700;
    margin:0px;
    padding:0px;
    font-family: "Fira Mono", monospace;
    color: #000000;
    font-size: 18px;
}
#userNameBlock{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0px;
    padding:0px;
}