/* LoginForm.css
LoginForm.js*/
#loginForm{
    background-color: #A8AEB3;
    width: 400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 10px;
    gap: 10px;
}
/* ================
INPUT LAYOUT
======*/
#loginFormInput{
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: #BFBFBF;
    gap: 10px;
    
}
.loginLabel{
    
    font-weight:700;
    margin:0px;
    padding:0px;
    font-family: "Fira Mono", monospace;
    color: #000000;
    font-size: 18px;
}
#usernameInputBlock{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0px;
    padding:0px;
}
#passwordInputBlock{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0px;
    padding:0px;
}
#passwordInputContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap: 10px;
}
#rememberMeBlock{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:0px;
    padding:0px;
}
/* BUTTON:  */
#showPasswordBtn{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px;
    padding:0px;
    height: 40px;
    width: 40px;
    color: #000000;
    border: #323A42 solid 1.5px;
}
#showPasswordBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}