#registrationForm{
    width: 100%;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#registerInput{
    width:95%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: #BFBFBF;
    gap: 10px;
    
}
/* GROUP 1 */
#regisGroup1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #D6D6D6;
}
/* GROUP 2 */
#regisGroup1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #D6D6D6;
}
#regisUsernameBlock,
#regisEmailBlock,
#regisBirthDateBlock{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    align-items: baseline;
    gap: 10px;
}
.regisLabel{
    
    font-weight:700;
    margin:0px;
    padding:0px;
    font-family: "Fira Mono", monospace;
    color: #000000;
    font-size: 18px;
}